<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{.title}}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" type="image/png" href="/static/image/favicon.png" />
  <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/ionicon/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/css/daterange/daterangepicker.css">
  <link rel="stylesheet" href="/static/css/datepicker/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/static/css/timepicker/bootstrap-timepicker.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/css/skins/_all-skins.min.css"> {{.html_head}}
  <link rel="stylesheet" href="/static/css/room.css">
  <link href="https://fonts.googleapis.com/css?family=Athiti|Kanit" rel="stylesheet">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->

<body class="hold-transition skin-black-light layout-top-nav">
  <div class="wrapper">

    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">
              ROOMER
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="{{.home}}">
                <a href="/">จองห้องประชุม</a>
              </li>
              <li class="{{.calendar}}">
                <a href="/calendar">ปฏิทิน</a>
              </li>              
            </ul>
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              {{if .username}}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">อื่นๆ
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="/room/list">ห้องประชุม</a>
                  </li>
                  <li>
                    <a href="/user/list">ผู้ใช้งาน</a>
                  </li>
                  <li>
                    <a href="/role/list">สิทธิ์</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{.userimg}}" class="user-image"  >
                  <span class="hidden-xs">{{.username}}</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" style="margin-top:2px;">
                  <li>
                    <a href="/profile">โปรไฟล์</a>
                  </li>
                  <li>
                    <a href="/logout">ออกจากระบบ</a>
                  </li>
                </ul>
              </li>
              {{else}}
              <li>
                <a href="/login">เข้าสู่ระบบ</a>
              </li>
              {{end}}
            </ul>
        </div>
    </header>
    <!-- Full Width Column -->
    <div class="content-wrapper">
      <div class="container">
        {{.LayoutContent}}
      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="container">
        <div class="pull-right hidden-xs">
          <b>Version</b> 0.0.1
        </div>
        <strong>Copyright &copy; 2018 ROOMER </strong> All rights reserved.
      </div>
      <!-- /.container -->
    </footer>
    </div>
    <div class="modal modal-default fade" id="delete-global-modal">
      <div class="modal-dialog">
          <div class="modal-content" id="delete-global-modal-content" style=" border-radius: 8px; ">
              <input type="hidden" id="global-delete-id" name="global-delete-id" />
              <input type="hidden" id="global-delete-url" name="global-delete-url" />
              <input type="hidden" id="global-delete-xsrf" name="global-delete-xsrf" />
              <div class="modal-header alert-danger" style=" border-top-left-radius: 8px; border-top-right-radius: 8px;">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title ">ยืนยันการลบข้อมูล</h4>
              </div>
              <div class="modal-body">
                  <div class="alert alert-danger fade in no-margin" style="display:none" id="global-delete-alert">
                  </div>
                  <p>ท่านกำลังจะลบข้อมูล, จะดำเนินการต่อหรือไม่?</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal"> ปิด </button>
                  <button type="button" onclick="deleteGlobal()" class="btn btn-warning">
                      <i class="fa fa-trash-o"></i> ลบข้อมูล
                  </button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal modal-default fade" id="room-global-modal">
      <div class="modal-dialog" style="width:100%; height: 100%; margin: 0; padding: 0;">
          <div class="modal-content"  style=" border-radius: 8px; ">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div  id="showroom">
                 
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal"> ปิด </button>
              </div>
          </div>
      </div>
  </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="/static/js/jquery.slimscroll.min.js"></script>
    <script src="/static/js/fastclick.js"></script>
    <script src="/static/js/moment/moment.js"></script>
    <script src="/static/js/daterange/daterangepicker.js"></script>
    <script src="/static/js/timepicker/js/bootstrap-timepicker.js"></script>
    <script src="/static/js/adminlte.min.js"></script>
    <script src="/static/js/room.js"></script>
     {{.scripts}}
</body>
</html>