<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{.title}}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" type="image/png" href="/static/image/favicon.png" />
  <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/ionicon/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/css/daterange/daterangepicker.css">
  <link rel="stylesheet" href="/static/css/datepicker/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/static/css/timepicker/bootstrap-timepicker.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/css/skins/_all-skins.min.css"> {{.html_head}}
  <link rel="stylesheet" href="/static/css/room.css">
  <link href="https://fonts.googleapis.com/css?family=Athiti|Kanit" rel="stylesheet">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->

<body class="hold-transition skin-black-light layout-top-nav">
  <div class="wrapper">

    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">
              ROOMER
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="{{.home}}">
                <a href="/">จองห้องประชุม</a>
              </li>
              <li class="{{.calendar}}">
                <a href="/calendar">ปฏิทิน</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">อื่นๆ
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    {{if .username}}
                  <li>
                    <a href="/room">ห้องประชุม</a>
                  </li>
                  <li>
                    <a href="#">ผู้ใช้งาน</a>
                  </li>
                  <li>
                    <a href="#">สิทธิ์</a>
                  </li>
                 
                  {{end}}
                  {{if not .username}}
                    <li>
                      <a href="/login">เข้าสู่ระบบ</a>
                    </li>
                  {{else}}
                  <li class="divider"></li>
                  <li>
                    <a href="#">โปรไฟล์</a>
                  </li>
                  <li>
                    <a href="/logout">ออกจากระบบ</a>
                  </li>
                  {{end}}
                </ul>
              </li>
            </ul>
    </header>
    <!-- Full Width Column -->
    <div class="content-wrapper">
      <div class="container">
        {{.LayoutContent}}
      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="container">
        <div class="pull-right hidden-xs">
          <b>Version</b> 0.0.1
        </div>
        <strong>Copyright &copy; 2018 ROOMER </strong> All rights reserved.
      </div>
      <!-- /.container -->
    </footer>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="/static/js/jquery.slimscroll.min.js"></script>
    <script src="/static/js/fastclick.js"></script>
    <script src="/static/js/moment/moment.js"></script>
    <script src="/static/js/daterange/daterangepicker.js"></script>
    <script src="/static/js/timepicker/js/bootstrap-timepicker.js"></script>
    <script src="/static/js/adminlte.min.js"></script>
    <script src="/static/js/room.js"></script>
     {{.scripts}}
</body>
</html>