.skin-black-light .main-header .navbar .navbar-nav>li>a{
    border-right: none;
}
.skin-black-light .main-header .navbar-brand{
    border-right: none;
}
.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav>li>a, .skin-black-light .main-header .navbar .navbar-right>li>a{
    border-left: none; 
}

