<style>
	.content-wrapper {
		background-color: white;
	}
</style>
<form action="/">

	<div class="row" style="margin-top:50px;">
			{{if .err}}
	    <div id="top-alert">
			<div class="alert alert-danger alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				{{ .err}}
			</div>
		</div>
	{{end}}
		<div class="col-xs-4">
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-calendar-o"></i>
				</div>
				<input type="text" class="form-control datepicker" name="dateBegin" data-provide="datepicker" value='{{date .currentDate "d-m-Y"}}' data-date-language="th-th"  >
			</div>
		</div>
		<div class="col-xs-2">
			<div class="input-group ">
				<div class="input-group-addon">
					<i class="fa fa-clock-o"></i>
				</div>
				<input type="text" id="timeBegin" value='{{date .currentDate "H:i"}}' class="form-control">
			</div>
		</div>
		<div class="col-xs-4">
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-calendar-o"></i>
				</div>
				<input type="text" class="form-control datepicker" name="dateEnd" data-provide="datepicker" value='{{date .currentDate "d-m-Y"}}' data-date-language="th-th"  >
			</div>
		</div>
		<div class="col-xs-2">
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-clock-o"></i>
				</div>
				<input type="text" id="timeEnd" value='{{date .currentDate "H:i"}}' class="form-control">

			</div>
		</div>
	</div>
	<div class="row " style="margin-top:10px;text-align:center; ">
		<div class="col-xs-8">
			 
			<select class="room" id="Room" name="Room">
				<option value="">เลือกห้อง</option>
				{{range $key, $val := .room}}
					<option value="{{$val.ID}}" > {{$val.Name}} </option>
				{{end}}   
			</select>
		</div>
		<div class="col-xs-4">
			<select class="status" id="Status" name="Status">
				<option value="0">ห้องว่าง</option>
				<option value="1">รายการจอง</option>
				<option value="2">ห้องทั้งหมด</option>
			</select>
		</div>
	</div>
	<div class="row " style="margin-top:10px;text-align:center; ">
			<div class="col-xs-12">
			<input type="text" id="Title" style="text-align:center" placeholder="วาระการประชุม/หัวข้อ" class="form-control">
			</div>
	</div>
	<div class="row" style="margin-top:10px;text-align:center;">
		<button type="submit" class="btn btn-primary">
			<i class="fa fa-filter"> </i> ค้นหา</button>
		<button type="button" id="reset" class="btn btn-default">
			<i class="fa fa-remove"> </i> ล้าง</button>
	</div>
	<div class="row" style="margin-top:70px;">
		<div class="box-body table-responsive no-padding">
			<table class="table table-hover">
				<tr>
					<th>รายละเอียด</th>
					<th>#</th>
				</tr>
				<tr>
					<td valign="top" style=" cursor: pointer;">
						<div class="media">
							<div class="media-left">
								<img src="/static/image/no-image.jpg" style="width: 100px;">
							</div>
							<div class="media-body">
								<h4 class="media-heading">123/4ก.56</h4>
								<p>
									<strong>จำนวนที่นั่ง </strong>1
									<strong>ที่นั่ง</strong>
									<br>
									<strong>อาคาร/สถานที่ </strong>อาคาร 1 @ชั้น 1.1, ผู้ดูแลห้อง: 1.น.ส.พิรารัตย์ เสียงใส&amp; 1.2น.ส.พอใจ พิสุทธิ์ </p>
							</div>
						</div>
					</td>
					<td class="text-center nowrap" style="cursor: pointer;vertical-align:middle;">
						<i class="fa  fa-angle-right fa-w-8 fa-3x"></i>
					</td>
				</tr>
				<tr>
					<td valign="top" style=" cursor: pointer;">
						<div class="media">
							<div class="media-left">
								<img src="/static/image/no-image.jpg" style="width: 100px;">
							</div>
							<div class="media-body">
								<h4 class="media-heading">123/4ก.56</h4>
								<p>
									<strong>จำนวนที่นั่ง </strong>1
									<strong>ที่นั่ง</strong>
									<br>
									<strong>อาคาร/สถานที่ </strong>อาคาร 1 @ชั้น 1.1, ผู้ดูแลห้อง: 1.น.ส.พิรารัตย์ เสียงใส&amp; 1.2น.ส.พอใจ พิสุทธิ์ </p>
							</div>
						</div>
					</td>
					<td class="text-center nowrap" style="cursor: pointer;vertical-align:middle;">
						<i class="fa  fa-angle-right fa-w-8 fa-3x"></i>
					</td>
				</tr>
			</table>
		</div>
	</div>
</form>