<script src="/static/js/datepicker/bootstrap-datepicker.js"></script>
<script src="/static/js/datepicker/bootstrap-datepicker-thai.js"></script>
<script src="/static/js/datepicker/locales/bootstrap-datepicker.th.js"></script>
<script>
    $(document).ready(function () {      
         $('.status,.room').select2({
            multiple:false,
            width: '100%'
        });               
        $('#room-area').fadeIn(500);       
        $('#search-area').fadeIn(700);       
        $('#button-area').fadeIn(900);  
        $('#result-area').fadeIn(1200);            
        $('.datepicker').datepicker({
            autoclose: true,
            todayBtn: true,
            orientation: "auto",
            todayHighlight: true,
            format: 'dd/mm/yyyy'
        });
         //Timepicker
    $('#timeBegin,#timeEnd').timepicker({
         use24hours: true,
         format: 'HH:mm',
         showMeridian: false 
    }) 
    $('#reset').click(function(){
        $('#timeBegin,#timeEnd').val('');
        $('.datepicker').val('');
        $("#Room").val($("#Room option:first").val()).trigger('change');
        $('#Status').val(0).trigger('change');
        $('#Title').val('')
    })    
    });
</script>