<style>
    .form-group {
        clear: both;
        margin-bottom: 80px;
    }

    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }
    .main-header ,.main-footer{
        display: none;
    }
    .content-wrapper{
        background-color: white;
    }
</style>
<link rel="stylesheet" href="/static/css/gallory/gallory.css">
<section class="content">
    <form {{if .r }} {{else }} {{end}} autocomplete="off"  enctype="multipart/form-data" id="create-form" method="post">
        {{ .xsrfdata }}
        <input type="hidden" id="ID" name="ID" value="{{.m.ID}}" />

        <input type="hidden" id="DeleteImage1" name="DeleteImage1" value="0" />
        <input type="hidden" id="DeleteImage2" name="DeleteImage2" value="0" />
        <input type="hidden" id="DeleteImage3" name="DeleteImage3" value="0" />
        <input type="hidden" id="DeleteImage4" name="DeleteImage4" value="0" />
        <input type="hidden" id="DeleteImage5" name="DeleteImage5" value="0" />
        <input type="hidden" id="DeleteImage6" name="DeleteImage6" value="0" />

        <input type='file' id="imagePath1" name="imagePath1" style="display:none;" />
        <input type='file' id="imagePath2" name="imagePath2" style="display:none;" />
        <input type='file' id="imagePath3" name="imagePath3" style="display:none;" />
        <input type='file' id="imagePath4" name="imagePath4" style="display:none;" />
        <input type='file' id="imagePath5" name="imagePath5" style="display:none;" />
        <input type='file' id="imagePath6" name="imagePath6" style="display:none;" />

        <div id="box-req" class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="form-group req-box-form">
                        <div class="col-xs-12">
                            <label for="req-name">ชื่อ</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <input type="text" id="Name" required name="Name" readonly class="form-control" autocomplete="off" placeholder="ชื่อ" value="{{.m.Name}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group req-box-form">
                        <div class="col-xs-12">
                            <label for="req-name">การรองรับ</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <input type="text" id="SupportText" required readonly name="SupportText" class="form-control" autocomplete="off" placeholder="การรองรับ"
                                    value="{{.m.SupportText}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group req-box-form">
                        <div class="col-xs-12">
                            <label for="req-name">สถานที่</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <input type="text" id="LocationText"  readonly name="LocationText" class="form-control" autocomplete="off" placeholder="สถานที่"
                                    value="{{.m.LocationText}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group req-box-form">
                        <div class="col-xs-12">
                            <label for="req-name">อุปกรณ์</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <input type="text" id="AddOnDeviceText" readonly  name="AddOnDeviceText" class="form-control" autocomplete="off" placeholder="อุปกรณ์"
                                    value="{{.m.AddOnDeviceText}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group req-box-form">
                        <div class="col-xs-12">
                            <label for="req-name">ผู้ดูแล/เบอร์โทร</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <input type="text" id="RoomAdminText"  readonly name="RoomAdminText" class="form-control" autocomplete="off" placeholder="ผู้ดูแล/เบอร์โทร"
                                    value="{{.m.RoomAdminText}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="form-group req-box-form">
                            <div class="col-xs-6">
                                <label for="req-name">สถานะ</label>
                                <select class="form-control" id="Status" readonly name="Status">
                                    <option value="0">ปิดปรับปรุง</option>
                                    <option value="1">เปิดใช้งาน</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <label for="req-name">ข้อความแจ้งให้ทราบ</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-file-text-o"></i>
                                    </span>
                                    <input type="text" id="Remark" name="Remark" readonly class="form-control" autocomplete="off" placeholder="ข้อความแจ้งให้ทราบ"
                                        value="{{.m.Remark}}">
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="form-group req-box-form">
                        <div class="col-xs-12">
                            <label for="req-name">รูป 600*400</label>
                        </div>
                    </div>
                </div>
                <div class="timeline-body" style="margin-top:-50px;" >
                    <div class="row">                        
                        <div class="gallery">
                            <figure class="img-wrap veiw-figure">
                                {{if .m.ImagePath1}}
                                <img src="{{.m.ImagePath1}}" class="imagePath1" alt="" /> {{else}}
                                <img src="/static/image/600_x_400.png" class="imagePath1" alt="" /> {{end}}
                                <figcaption>ภาพประกอบที่ 1 </figcaption>
                            </figure>

                            <figure class="img-wrap veiw-figure">
                                {{if .m.ImagePath2}}
                                <img src="{{.m.ImagePath2}}" class="imagePath2" alt="" /> {{else}}
                                <img src="/static/image/600_x_400.png" class="imagePath2" alt="" /> {{end}}
                                <figcaption>ภาพประกอบที่ 2 </figcaption>
                            </figure>

                            <figure class="img-wrap veiw-figure">
                                {{if .m.ImagePath3}}
                                <img src="{{.m.ImagePath3}}" class="imagePath3" alt="" /> {{else}}
                                <img src="/static/image/600_x_400.png" class="imagePath3" alt="" /> {{end}}
                                <figcaption>ภาพประกอบที่ 3 </figcaption>
                            </figure>

                            <figure class="img-wrap veiw-figure">
                                {{if .m.ImagePath4}}
                                <img src="{{.m.ImagePath4}}" class="imagePath4" alt="" /> {{else}}
                                <img src="/static/image/600_x_400.png" class="imagePath4" alt="" /> {{end}}
                                <figcaption>ภาพประกอบที่ 4 </figcaption>
                            </figure>

                            <figure class="img-wrap veiw-figure">
                                {{if .m.ImagePath5}}
                                <img src="{{.m.ImagePath5}}" class="imagePath5" alt="" /> {{else}}
                                <img src="/static/image/600_x_400.png" class="imagePath5" alt="" /> {{end}}
                                <figcaption>ภาพประกอบที่ 5 </figcaption>
                            </figure>



                            <figure class="img-wrap veiw-figure">
                                {{if .m.ImagePath6}}
                                <img src="{{.m.ImagePath6}}" class="imagePath6" alt="" /> {{else}}
                                <img src="/static/image/600_x_400.png" class="imagePath6" alt="" /> {{end}}
                                <figcaption>ภาพประกอบที่ 6 </figcaption>
                            </figure>



                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
                            <symbol id="close" viewBox="0 0 18 18">
                                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M9,0.493C4.302,0.493,0.493,4.302,0.493,9S4.302,17.507,9,17.507
                                            S17.507,13.698,17.507,9S13.698,0.493,9,0.493z M12.491,11.491c0.292,0.296,0.292,0.773,0,1.068c-0.293,0.295-0.767,0.295-1.059,0
                                            l-2.435-2.457L6.564,12.56c-0.292,0.295-0.766,0.295-1.058,0c-0.292-0.295-0.292-0.772,0-1.068L7.94,9.035L5.435,6.507
                                            c-0.292-0.295-0.292-0.773,0-1.068c0.293-0.295,0.766-0.295,1.059,0l2.504,2.528l2.505-2.528c0.292-0.295,0.767-0.295,1.059,0
                                            s0.292,0.773,0,1.068l-2.505,2.528L12.491,11.491z" />
                            </symbol>
                        </svg>
                    </div>
                </div>
            </div>
    </form>
</section> 
<script>
    popup = {
  init: function(){
    $('.veiw-figure').click(function(){
      popup.open($(this));
      $('.img-wrap .close-x').hide();
      $('.img-wrap .add-x').hide();
    });
    
    $(document).on('click', '.popup img', function(){
      return false;
    }).on('click', '.popup', function(){
      popup.close();
      $('.img-wrap .close-x').show();
      $('.img-wrap .add-x').show();
    })
  },
  open: function($figure) {
    $('.img-wrap .close-x').hide();
    $('.img-wrap .add-x').hide();
    $('.gallery').addClass('pop');
    $popup = $('<div class="popup" />').appendTo($('body'));
    $fig = $figure.clone().appendTo($('.popup'));
    $bg = $('<div class="bg" />').appendTo($('.popup'));
    $close = $('<div class="close"><svg><use xlink:href="#close"></use></svg></div>').appendTo($fig);
    $shadow = $('<div class="shadow" />').appendTo($fig);
    src = $('img', $fig).attr('src');
    $shadow.css({backgroundImage: 'url(' + src + ')'});
    $bg.css({backgroundImage: 'url(' + src + ')'});
    setTimeout(function(){
      $('.popup').addClass('pop');
    }, 10);
  },
  close: function(){
    $('.img-wrap .close-x').show();
    $('.img-wrap .add-x').show();
    $('.gallery, .popup').removeClass('pop');
    setTimeout(function(){
      $('.popup').remove()
    }, 100);
  }
}
popup.init();
</script>