<style>
    .form-group {
        clear: both;
        margin-bottom: 80px;
    }

    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }

    .img-wrap {
        position: relative;
        display: inline-block;
        font-size: 0;
    }
</style>
<link rel="stylesheet" href="/static/css/gallory/gallory.css">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<section class="content">
    <div id="box-req" class="">
        <div class="box-body">
            <div class="row">
                <h1 style="margin-top:-20px;">{{.m.Name}}</h1>
                <div class="table-responsive">
                    <table class="table  table-striped">
                        <tbody>
                            <tr>
                                <td width="150" >
                                    <strong>การรองรับ</strong>
                                </td>
                                <td> {{.m.SupportText}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>สถานะ</strong>
                                </td>
                                <td>
                                    {{if .m.Status}}
                                    <span class='label label-success'> เปิดใช้งาน </span>
                                    {{else}}
                                    <span class='label label-danger'> ปิดปรับปรุง </span>
                                    {{end}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>สถานที่ </strong>
                                </td>
                                <td> {{.m.LocationText}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>อุปกรณ์ </strong>
                                </td>
                                <td>{{.m.AddOnDeviceText}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>ผู้ดูแล/เบอร์โทร </strong>
                                </td>
                                <td>{{.m.RoomAdminText}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="form-group req-box-form">

                </div>
            </div>
            <div class="timeline-body" style="margin-top:-50px;">
                <div class="row">
                    <div class="gallery">
                        <figure class="img-wrap veiw-figure">
                            <span class="close-x" data="1">
                                <i class="fa fa-trash"></i>
                            </span>
                            <span class="add-x" v data="1">
                                <i class="fa fa-plus"></i>
                            </span>
                            {{if .m.ImagePath1}}
                            <img src="{{.m.ImagePath1}}" class="imagePath1" alt="" /> {{else}}
                            <img src="/static/image/600_x_400-view.png" class="imagePath1" alt="" /> {{end}}
                            <figcaption>ภาพประกอบที่ 1 </figcaption>
                        </figure>

                        <figure class="img-wrap veiw-figure">
                            <span class="close-x" data="2">
                                <i class="fa fa-trash"></i>
                            </span>
                            <span class="add-x" data="2">
                                <i class="fa fa-plus"></i>
                            </span>
                            {{if .m.ImagePath2}}
                            <img src="{{.m.ImagePath2}}" class="imagePath2" alt="" /> {{else}}
                            <img src="/static/image/600_x_400-view.png" class="imagePath2" alt="" /> {{end}}
                            <figcaption>ภาพประกอบที่ 2 </figcaption>
                        </figure>

                        <figure class="img-wrap veiw-figure">
                            <span class="close-x" data="3">
                                <i class="fa fa-trash"></i>
                            </span>
                            <span class="add-x" data="3">
                                <i class="fa fa-plus"></i>
                            </span>
                            {{if .m.ImagePath3}}
                            <img src="{{.m.ImagePath3}}" class="imagePath3" alt="" /> {{else}}
                            <img src="/static/image/600_x_400-view.png" class="imagePath3" alt="" /> {{end}}
                            <figcaption>ภาพประกอบที่ 3 </figcaption>
                        </figure>

                        <figure class="img-wrap veiw-figure">
                            <span class="close-x" data="4">
                                <i class="fa fa-trash"></i>
                            </span>
                            <span class="add-x" data="4">
                                <i class="fa fa-plus"></i>
                            </span>
                            {{if .m.ImagePath4}}
                            <img src="{{.m.ImagePath4}}" class="imagePath4" alt="" /> {{else}}
                            <img src="/static/image/600_x_400-view.png" class="imagePath4" alt="" /> {{end}}
                            <figcaption>ภาพประกอบที่ 4 </figcaption>
                        </figure>

                        <figure class="img-wrap veiw-figure">
                            <span class="close-x" data="5">
                                <i class="fa fa-trash"></i>
                            </span>
                            <span class="add-x" data="5">
                                <i class="fa fa-plus"></i>
                            </span>
                            {{if .m.ImagePath5}}
                            <img src="{{.m.ImagePath5}}" class="imagePath5" alt="" /> {{else}}
                            <img src="/static/image/600_x_400-view.png" class="imagePath5" alt="" /> {{end}}
                            <figcaption>ภาพประกอบที่ 5 </figcaption>
                        </figure>



                        <figure class="img-wrap veiw-figure">
                            <span class="close-x" data="6">
                                <i class="fa fa-trash"></i>
                            </span>
                            <span class="add-x" data="6">
                                <i class="fa fa-plus"></i>
                            </span>
                            {{if .m.ImagePath6}}
                            <img src="{{.m.ImagePath6}}" class="imagePath6" alt="" /> {{else}}
                            <img src="/static/image/600_x_400-view.png" class="imagePath6" alt="" /> {{end}}
                            <figcaption>ภาพประกอบที่ 6 </figcaption>
                        </figure>



                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
                        <symbol id="close" viewBox="0 0 18 18">
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M9,0.493C4.302,0.493,0.493,4.302,0.493,9S4.302,17.507,9,17.507
                                                S17.507,13.698,17.507,9S13.698,0.493,9,0.493z M12.491,11.491c0.292,0.296,0.292,0.773,0,1.068c-0.293,0.295-0.767,0.295-1.059,0
                                                l-2.435-2.457L6.564,12.56c-0.292,0.295-0.766,0.295-1.058,0c-0.292-0.295-0.292-0.772,0-1.068L7.94,9.035L5.435,6.507
                                                c-0.292-0.295-0.292-0.773,0-1.068c0.293-0.295,0.766-0.295,1.059,0l2.504,2.528l2.505-2.528c0.292-0.295,0.767-0.295,1.059,0
                                                s0.292,0.773,0,1.068l-2.505,2.528L12.491,11.491z" />
                        </symbol>
                    </svg>
                </div>
            </div>
        </div>
</section>
<script>
    popup = {
        init: function () {
            $('.veiw-figure').click(function () {
                popup.open($(this));
            });

            $(document).on('click', '.popup img', function () {
                return false;
            }).on('click', '.popup', function () {
                popup.close();
            })
        },
        open: function ($figure) {
            $('.gallery').addClass('pop');
            $popup = $('<div class="popup" />').appendTo($('body'));
            $fig = $figure.clone().appendTo($('.popup'));
            $bg = $('<div class="bg" />').appendTo($('.popup'));
            $close = $('<div class="close"><svg><use xlink:href="#close"></use></svg></div>').appendTo($fig);
            $shadow = $('<div class="shadow" />').appendTo($fig);
            src = $('img', $fig).attr('src');
            $shadow.css({ backgroundImage: 'url(' + src + ')' });
            $bg.css({ backgroundImage: 'url(' + src + ')' });
            setTimeout(function () {
                $('.popup').addClass('pop');
            }, 10);
        },
        close: function () {
            $('.gallery, .popup').removeClass('pop');
            setTimeout(function () {
                $('.popup').remove()
            }, 100);
        }
    }
    popup.init();
</script>